<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.radio_button(:status, "Pending") %>
    <%= f.label(:status_pending, "Pending") %><br>
    <%= f.radio_button(:status, "In Progress") %>
    <%= f.label(:status_in_progress, "In Progress") %><br>
    <%= f.radio_button(:status, "Closed") %>
    <%= f.label(:status_closed, "Closed") %>
  </div>
  <div class="field">
    <%= f.label :assignee %><br>
    <%= f.collection_select :assignee, Employee.all, :id, :full_name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
