<tr>
	<td><%= task.name %></td>
	<td><%= task.description %></td>
	<td><%= task.status %></td>
  <td><%= link_to 'Show', task %></td>
  <% if is_manager? %>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Assign', assign_task_path(task) %></td>
  <% else %>
  	<td><%= link_to 'Change status', change_status_path(task) %></td>
  	<td><%= link_to 'Assign to manager', assign_task_path(task) %></td>
  <% end %>
</tr>