<!DOCTYPE html>
<html>
<head>
  <title>Proov</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= button_to 'Sign out', destroy_employee_session_path, method: 'delete' if  employee_signed_in? %>

<%= yield %>

</body>
</html>
